<div class="w-full flex justify-center 
items-center h-screen overflow-y-hidden">
    <div class="flex justify-center items-start flex-1 pt-12">
        <div class="max-w-lg w-full h-auto p-6 bg-white
         border border-gray-200 rounded-lg shadow ml-2 mt-2">
            <h2 class="text-center text-2xl font-semibold 
          leading-7 text-blue-600 mb-2">
                Add New Appointment
            </h2>
            <form class="max-w-md mx-auto">
                <div class="block mb-5">
                    <label for="patient" class="block mb-2 text-sm font-medium 
              text-gray-600 required">Patient</label>
                    <select [(ngModel)]="patient" name="patient" id="patient" class="bg-gray-50 border border-gray-300 
              text-gray-900 text-sm rounded-lg focus:ring-blue-500
               focus:border-blue-500 block w-full p-2.5">
                        <option value="Select" selected>Select</option>
                        <option *ngFor="let patient of PatientsArray">
                            {{ patient.name }}, ({{ patient.age }}) - {{ patient.gender }}
                        </option>
                    </select>
                </div>
                <div class="block mb-5">
                    <label for="doctor" class="block mb-2 text-sm font-medium text-gray-600 required">Doctor</label>
                    <select [(ngModel)]="doctor" name="doctor" id="doctor" class="bg-gray-50 border border-gray-300 text-gray-900 
              text-sm rounded-lg focus:ring-blue-500 
              focus:border-blue-500 block w-full p-2.5">
                        <option value="Select" selected>Select</option>
                        <option *ngFor="let doctor of DoctorsArray">
                            {{ doctor.name }} - {{ doctor.speciality }}
                        </option>
                    </select>
                </div>
                <div class="block mb-5">
                    <label for="appointmentDate" class="block mb-2 text-sm font-medium
               text-gray-600 required">Appointment Date</label>
                    <input type="date" [(ngModel)]="appointmentDate" name="appointmentDate" id="appointmentDate" class="bg-gray-50 border border-gray-300 
              text-gray-900 text-sm rounded-lg focus:ring-blue-500
               focus:border-blue-500 block w-full p-2.5" required />
                </div>
                <div class="block">
                    <button *ngIf="!isEditing" type="submit" class="w-full block text-white bg-blue-700 hover:bg-blue-800
               focus:ring-4 focus:ring-blue-300 font-medium 
               rounded-lg text-sm px-5 py-2.5 me-2" (click)="onAddClick()">
                        Add
                    </button>
                    <button *ngIf="isEditing" type="submit" class="w-full block text-white bg-blue-700
               hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                font-medium rounded-lg text-sm px-5 py-2.5 me-2" (click)="onUpdateClick()">
                        Update
                    </button>
                </div>
            </form>
        </div>
        <div class="flex-none mx-4"></div>
        <div class="flex-none w-96">
            <h2 class="text-center text-2xl font-semibold
           leading-7 text-blue-600 my-2">
                Appointments ({{ AppointmentsArray.length }})
            </h2>
            <div class="h-screen overflow-y-auto">
                <div *ngFor="let appointment of AppointmentsArray">
                    <div class="h-auto my-2">
                        <div class="bg-white border border-gray-200 rounded-lg
                 shadow md:max-w-xl hover:bg-gray-100">
                            <div class="flex flex-col items-center md:flex-row">
                                <div class="mx-2">
                                    <svg fill="#000000" height="60px" width="60px" version="1.1" id="Layer_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 16 16" xml:space="preserve">
                                        <title>Appointment</title>
                                        <path d="m 6.5 0 c -3.578125 0 -6.5 2.921875 -6.5 6.5 s 2.921875 6.5 6.5 6.5 c 0.167969 0 0.335938 -0.007812 0.5 -0.019531 v -2.007813 c -0.164062 0.019532 -0.332031 0.027344 -0.5 0.027344 c -2.496094 0 -4.5 -2.003906 -4.5 -4.5 s 2.003906 -4.5 4.5 -4.5 s 4.5 2.003906 4.5 4.5 c 0 0.167969 -0.007812 0.335938 -0.027344 0.5 h 2.007813 c 0.011719 -0.164062 0.019531 -0.332031 0.019531 -0.5 c 0 -3.578125 -2.921875 -6.5 -6.5 -6.5 z m 0 3 c -0.277344 0 -0.5 0.222656 -0.5 0.5 v 2.5 h -1.5 c -0.277344 0 -0.5 0.222656 -0.5 0.5 s 0.222656 0.5 0.5 0.5 h 2 c 0.277344 0 0.5 -0.222656 0.5 -0.5 v -3 c 0 -0.277344 -0.222656 -0.5 -0.5 -0.5 z m 4.5 5 v 3 h -3 v 2 h 3 v 3 h 2 v -3 h 3 v -2 h -3 v -3 z m 0 0" fill="#2e3436"/>
                                    </svg>
                                </div>
                                <div class="flex flex-col justify-between p-4 leading-normal">
                                    <p class="font-normal text-gray-700">
                                        <b>Patient:</b> {{ appointment.patient }}
                                    </p>
                                    <p class="font-normal text-gray-700">
                                        <b>Doctor:</b> {{ appointment.doctor }}
                                    </p>
                                    <p class="font-normal text-gray-700">
                                        <b>Date:</b>
                                        {{ appointment.appointmentDate | date : "fullDate" }}
                                    </p>
                                </div>
                            </div>
                            <div class="flex items-center justify-center gap-x-3 mb-2">
                                <button type="button" class="rounded-md bg-yellow-500 px-5 py-2 text-sm 
                    font-semibold text-white shadow-sm hover:bg-yellow-400 
                    focus-visible:outline focus-visible:outline-2 
                    focus-visible:outline-offset-2 focus-visible:outline-yellow-600"
                                    (click)="onEditAppointment(appointment._id)">
                                    Edit
                                </button>
                                <button type="button" class="rounded-md bg-red-600 px-3 py-2 text-sm
                     font-semibold text-white shadow-sm hover:bg-red-500
                      focus-visible:outline focus-visible:outline-2
                       focus-visible:outline-offset-2 focus-visible:outline-red-600"
                                    (click)="onDeleteAppointment(appointment._id)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>